@import "colors.css";

* {
  font-family:
    Inter,
    JetBrains Mono Nerd Font,
    monospace;
}

window#waybar {
  background: transparent;
  border-radius: 8px;
}

#workspaces {
  background-color: @base00;
  padding: 8px;
  border-radius: 8px;
}

#workspaces button {
  font-size: 12px;
  min-width: 48px;
  min-height: 24px;
  padding: 0;
  border: none;
  border-radius: 4px;
  background-color: @neutral-700;
  color: @neutral-400;
  transition:
    background-color 0.3s linear,
    color 0.3s linear;
}

#workspaces button:not(:last-child) {
  margin-right: 8px;
}

#workspaces button:hover {
  background-color: @neutral-800;
  color: @neutral-500;
}

#workspaces button.active {
  background-color: @primary-700;
  color: @primary-400;
  font-size: 18px;
}

#workspaces button.urgent {
  background-color: @negative-700;
  color: @negative-400;
}

#workspaces button.empty {
  background-color: transparent;
  border: @neutral-700 dashed 1px;
  color: @neutral-700;
}

#workspaces button.persistent {
  background-color: @informing-700;
  color: @informing-400;
}

#workspaces button.special {
  background-color: @positive-700;
  color: @positive-400;
}

#workspaces button. {
  background-color: #ff00ff;
  color: #ff00ff;
}
